@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(224deg, #12e079, #3a41a5);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.css-selector {
  background: linear-gradient(224deg, #db9b7e, #9a9fdf);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:96% 0%}
  50%{background-position:5% 100%}
  100%{background-position:96% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:96% 0%}
  50%{background-position:5% 100%}
  100%{background-position:96% 0%}
}
@keyframes AnimationName {
  0%{background-position:96% 0%}
  50%{background-position:5% 100%}
  100%{background-position:96% 0%}
}
